:root {
  --primary-color: #eb6816;
  --background-color: #18181a;
  --secon-color: #9da2ad;
  --grey: #7a7a7b;
  --white: #ffffff;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    color: white;
    background-color: #0f0f0f;
    font-family: 'Poppins', sans-serif;
}

/*------------------------- Header ------------------------*/


  /*------------------------- Food Menu ------------------------*/
  
.wrapper{
  width: 80vw;
  margin:100px auto;
}
.title{
  text-align:center;
  margin-bottom:60px;
}

.title h4 a:hover{
    color:#ff7720 ;
}
 .title button{
   cursor: pointer;
 }
.title h4 span{
  display:block;
  font-size:18px;
  font-style:italic;
  margin-bottom:10px;
}
.title h4:before{
  position:absolute;
  content:"";
  width:100px;
  height:2px;
  background-color:#eb6816;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
}

.title span{
  display: block;
  font-size: 20px;
}

.title i{
  margin-bottom: 5px;
  font-size: 30px;
}


.categorie{ 
  border:none;
  padding: 10px;
  background: none;
  color:var(--white);
  border-bottom:var(--primary-color) solid 4px ;
}

.categorie:hover{
  border: none;
  background: none;
  color:var(--primary-color);
  border-bottom:var(--white) solid 4px ;
}
.categorie:focus{
  border: none;
  background: none;
  color:var(--primary-color);
  border-bottom:var(--white) solid 4px ;
}

.menu{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

.single-menu{
  flex-basis:580px;
  margin-bottom:40px;
  padding-bottom:40px;
  border-bottom:1px solid #ddd;
}
.single-menu:nth-child(5), .single-menu:nth-child(6){
  border-bottom:0;
}
.single-menu{
  display:flex;
  flex-direction:row;
  align-items:center;
}
.single-menu:hover img{
  border-radius:0;
}
.single-menu img{
  max-width:180px;
  margin-right:30px;
  border-radius:50%;
  border:1px solid #ddd;
  padding:3px;
  transition:.5s;
  height: 150px;
  width: 150px;
}


.single-menu h4{
  text-transform:capitalize;
  font-size:25px;
  border-bottom:1px dashed #333;
  margin-bottom:5px;
  padding-bottom:5px;
}

.single-menu h4 span{
  float:right;
  color:#ff7720;
  font-style:italic;
}

.single-menu h4 span:hover{
  float:right;
  color:var(--white);
  font-style:italic;
}
 

/* ......................footer.................. */

