html {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {

    background-image: url('./Pictures/Background/Black\ pattern.jpg');
    font-family: "trebuchet MS";
    font-size: large;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.Merci {
    color: goldenrod;
    font-family: "trebuchet MS";
    font-size: 50px;
}
h1,h3,th,td{

    color: white;

}
p {
    font-family: "trebuchet MS";
    color: white;
    font-size: 12pt;
    text-align: justify;  
    line-height: 28px;  
    padding: 10px;
    margin-top: 10px;
    }
    .header {
        background-color: #363636;
        position: sticky;
        top: 0;
        z-index: 1000;
      }
      nav {
        width: 100%;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .logo {
        height: 100%;
        width: 30vh;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-left: 15px;
        margin-top: 50px;
        display: inline-block;
           
      }
      
      .logo img {
        width: 40%;
        height: auto;
      }
      .link {
        color: white;
        font-size: 1.5rem;
      }      
      .link-item a:hover {
        color: #ff7720;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
      }
      a {
        text-decoration: none;
        color: white;
      }
      .user{
        display: inline-flex;
        font-size: 40px;
    }
    .user{
        display: inline-flex;
        font-size: 40px;
    }
    
    .fb i , .insta i, .user i{
        color: white;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
    
    }
    
    .fb i:hover {
        color: #275fda;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
    }
    .insta i:hover {
    background: -webkit-linear-gradient(-150deg, rgba(131,58,180,1) 20%, rgba(255,0,0,1) 48%, rgba(253,102,40,1) 72%, rgb(247, 195, 54) 89%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
    }
    .user i:hover {
        color: goldenrod;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
    }